
body  {
  
  background-image: url("Screenshot (148).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 370px 550px;
}
#div1{
	height: 200px
}
#i1,#i2,#i3,#i4
{
	font-size:35px;
	padding: 18px;
	color: black;
}
/*h1
{
	padding: -3px;
}*/